.container{
  border: 2px solid #989b9e;
  height: 750px;
  width: 800px;
  margin-left: 30%;
  margin-top: 5%;
  padding: 25px;
  background-color: #ffffff;
}
.header{
  padding: 4%;
}
.pizza{
    padding-left: 4%;
}
.btn {
  background-color: #989b9e; /* Green */
  border: none;
  color: white;
  width: 30.7%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}
.btn.active{
  background-color: #4a4a4a;
}
.btn:first-child{
  margin-left: 0;
}
.btn:last-child{
  margin-right: 0;
}
.checkBox{
  margin-top: 3%;
  margin-left: 35%;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #666}

.button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.submit{
  margin-left: 36%;
  margin-top: 5%;
}