body{
  background-color: #BD2000;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}
.container{
  border: 2px solid #989b9e;
  height: 750px;
  width: 800px;
  margin-left: 30%;
  margin-top: 5%;
  padding: 25px;
  background-color: #ffffff;
}
.header{
  padding: 4%;
}
.pizza{
    padding-left: 4%;
}
.btn {
  background-color: #989b9e; 
  border: none;
  color: white;
  width: 30.7%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}
.btn.active{
  background-color: #4a4a4a;
}
.btn:first-child{
  margin-left: 0;
}
.btn:last-child{
  margin-right: 0;
}
.checkBox{
  margin-top: 3%;
  margin-left: 35%;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #666}

.button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.submit{
  margin-left: 36%;
  margin-top: 5%;
}
.checkout{
  position: absolute;
  right: -30%;
  top: 0%;
  height: 100vh;
  width: 30%;
  transition: ease-in-out .4s;
  background-color: #fff;
}
.cart{
  margin-left: 78%;
  height: 30px;
  width: 20px;
  cursor: pointer;
}
h4{
  position: absolute;
  margin-left: 2.5%;
  top: 10%;
  color: rgb(0, 0, 0);
}
.checkout.active{
  right: 0;
  transition: ease-in-out .4s;
}
ul.list {
  list-style-type: none;
}
.checkout-card h1{
  font-size: 16px;
  font-weight: bolder;
}
.quantity{
  display: flex;
}
.quantity>.q{
  width: 20%;
}
.q-left{
  display: flex;
}
.q-button{
  background-color: #999;
  padding: 12px!important;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.q-left p{
  margin: 0 10px;
  align-items: center;
  margin-top: 18px;
  cursor: pointer;
}
.total{
  margin-top: 99%;
  padding: 5%;
}
.sub{
  margin-left: 5%;
  background-color: #000; 
  border: none;
  color: white;
  width: 30.7%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}
.sub:hover {background-color: #666}

.sub:active {
  background-color: #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}